<center>

  
        <h1 style="background-color:white;">Sentiment Predictor</h1>


        <center>
<center>
    <img src="/static/sentiment.png"  width="600" height="300"/>
    <center>

    <center>
    <body>
       
        <h2 style="background-color:white;">This app will predict 
            <span style="color: #ff0000">negative or positive sentiment </span>  based on text input </h2>
        
        </body>
  
    <h3>Please input your text below:</h3>
    <form action="/predict_sentiment" method='POST' >
    
    <input type="string" name="text" />
    
    <input type="submit" />
    </form>
 
</center>
